.container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 8px;
    margin-bottom: 24px;
}